openapi: 3.1.0
info:
  title: Stormglass Astronomy Elevation API
  description: Stormglass provides a global marine and weather API delivering high-resolution forecasts, historical data, and environmental measurements for any coordinate on Earth. The API supports weather point forecasts, marine data, tidal information, solar and astronomical data, biological oceanographic data, and elevation data. Commonly used for maritime navigation, renewable energy forecasting, outdoor activity planning, and environmental monitoring.
  version: v2
  contact:
    name: Stormglass Support
    url: https://stormglass.io/contact
  termsOfService: https://stormglass.io/terms-and-conditions/
servers:
- url: https://api.stormglass.io/v2
  description: Stormglass API v2
security:
- apiKeyAuth: []
tags:
- name: Elevation
  description: Global elevation and bathymetry data
paths:
  /elevation/point:
    get:
      operationId: getElevationPoint
      summary: Get Elevation Point Data
      description: Retrieve elevation data for a single coordinate. Provides bathymetry for ocean coordinates and topography for land coordinates. Data is available globally.
      tags:
      - Elevation
      parameters:
      - name: lat
        in: query
        required: true
        schema:
          type: number
          format: float
        description: Latitude of the desired coordinate
      - name: lng
        in: query
        required: true
        schema:
          type: number
          format: float
        description: Longitude of the desired coordinate
      responses:
        '200':
          description: Elevation data returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElevationPointResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/QuotaExceeded'
components:
  schemas:
    ElevationMeta:
      type: object
      properties:
        dailyQuota:
          type: integer
        requestCount:
          type: integer
        lat:
          type: number
          format: float
        lng:
          type: number
          format: float
        distance:
          type: number
          format: float
        elevation:
          type: object
          properties:
            unit:
              type: string
            source:
              type: string
    ElevationData:
      type: object
      properties:
        elevation:
          type: number
          format: float
          description: Elevation in meters relative to sea level
    Error:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: string
    ElevationPointResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ElevationData'
        meta:
          $ref: '#/components/schemas/ElevationMeta'
  responses:
    QuotaExceeded:
      description: Daily quota exceeded or payment required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed. Check your API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key obtained from your Stormglass account dashboard
externalDocs:
  description: Stormglass API Documentation
  url: https://docs.stormglass.io/
